@media only screen and (max-width: 1024px) {
  body::before{
    background-attachment: fixed;
  }
}
@media only screen and (max-width: 992px) {
  #header h1{
    font-size:36px;
  }
  #header h2{
    font-size: 20px;
    line-height: 30px;
  }
  #header .social-link {
    margin-top: 15px;
    margin-bottom: 15px;
  }
   /* #header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }  */
  .credits{
    text-align: center;
    padding: 10px;
     background: rgba(0,0,0,0.8); 
    
  }
} 
@media only screen and (max-width: 768px) {
  .navbar-collapse {
	flex-basis: 100%;
	flex-grow: 1;
	align-items: center;
	/* margin-top: 15px; */
	padding-bottom: 10px;
}
  .navbar-collapse li{
  margin-top:10px;
  padding:0;
}
.navbar-collapse li a {
  padding-left: 10px !important;
}
.header-content{
    position: absolute;
    top:53%;
    content: "";
  }
  
}
